@import "tailwindcss";

body {
  background-image: url(./assets/background.jpg);
}

@theme {
  --breakpoint-xsss: 22rem;
  --breakpoint-xss: 26rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --color-shakespeare-50: #f2f9fd;
  --color-shakespeare-100: #e4f1fa;
  --color-shakespeare-200: #c3e4f4;
  --color-shakespeare-300: #8dceec;
  --color-shakespeare-400: #51b6df;
  --color-shakespeare-500: #3ca9d7;
  --color-shakespeare-600: #1b7eae;
  --color-shakespeare-700: #17658d;
  --color-shakespeare-800: #175575;
  --color-shakespeare-900: #194861;
  --color-shakespeare-950: #102e41;

  --color-cello-50: #f1f7fe;
  --color-cello-100: #e3eefb;
  --color-cello-200: #c0ddf7;
  --color-cello-300: #88c2f1;
  --color-cello-400: #49a3e7;
  --color-cello-500: #2188d6;
  --color-cello-600: #136bb6;
  --color-cello-700: #115693;
  --color-cello-800: #124a7a;
  --color-cello-900: #13395d;
  --color-cello-950: #0e2843;

  --color-genoa-50: #f1fcfa;
  --color-genoa-100: #cef9f0;
  --color-genoa-200: #9df2e1;
  --color-genoa-300: #63e5cf;
  --color-genoa-400: #33ceb9;
  --color-genoa-500: #1ab2a0;
  --color-genoa-600: #128f83;
  --color-genoa-700: #13726a;
  --color-genoa-800: #145b56;
  --color-genoa-900: #154c48;
  --color-genoa-950: #062d2c;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
